<footer class="navbar page-footer font-small blue pt-2" style="background-color: black; position: absolute;">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- Footer Links -->
    <div class="container-fluid text-center text-sm-left" style="margin: auto">

        <!-- Grid row -->
        <div class="row"  style="margin: auto">

            <!-- Grid column -->
            <div class="col-sm-12 mb-md-0 mb-3" id="footerStuff" style="margin: auto; padding-top: 10px; padding-bottom: 10px;">

                <!-- Links -->
                <h5 style="color: grey;" class="text-uppercase">Follow Legacy Builds:</h5>

                &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<a href="https://www.facebook.com/"><i style="color:#8B0000;" class="fab fa-facebook-square fa-3x"></i></a>&nbsp;
                <i style="color:#8B0000;"  class="fab fa-twitter-square fa-3x"></i>&nbsp;
                <i style="color:#8B0000;" class="fab fa-instagram-square fa-3x"></i>

            </div>
        </div>
    </div>

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold" style="color: grey;" >Footer text 1</h5>
                <p style="color: grey;" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                    repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
                    harum esse fugiat. Itaque, culpa?</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold" style="color: grey;" >Footer text 2</h5>
                <p style="color: grey;" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
                    commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
                    excepturi hic.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 col-md-12" id="foot" style="color: grey;">© 2020 Copyright:
        <a href="https://google.com/"> Matthew Petersen</a>
    </div>
    <!-- Copyright -->
</footer>