<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light fixed" style=" border-radius: 25px; width:95%; margin: auto;">
    <div style=" border-radius: 25px; width:95%; margin: auto;">
        <h1 style="text-align: center; font-family: Monaco; color:white; font-size:50px; padding-top: 10px; font-weight: 900">Legacy &nbsp; <br>&nbsp;&nbsp;&nbsp; Builds</h1>

        <div class="collapse navbar-collapse" id="navbarText" style="border-top: 1px solid white;">
            <ul class="navbar-nav mr-auto" style="margin:auto;">
                <li class="nav-item">
                    <a style="color:#8B0000; font-size:30px;" class="nav-link" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a style="color:#8B0000; font-size:30px;" class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a style="color:#8B0000; font-size:30px; border-right: 1px solid white;" class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>