<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light fixed-top" style="margin: auto;">
    <div  style="margin: auto; width: 100%; background-color: black;">
        <div style="margin-left: 80px; margin-right: 80px; background-image: url(../images/space.jpg); margin-bottom: -10px;">
            <h1 style="text-align: center; font-family: jedi; color:white; font-size:50px; padding-top: 6px; padding-bottom:6px;">Legacy<br>Builds</h1>
        </div>
        <div class="collapse navbar-collapse" id="navbarText" style="border-top: 1px solid grey;">
            <ul class="navbar-nav mr-auto" style="margin:auto;">
                <li class="nav-item">
                    <a style="font-size:22px;" class="nav-link" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a style="font-size:22px;" class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a style="font-size:22px; border-right: 1px solid grey;" class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a style="font-size:22px; border-right: 1px solid grey;" class="nav-link" href="#Build-A-pc">Build your own</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>