<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head"></head>

<body>
<nav th:replace="fragments/navbar :: nav"></nav>

<br>
<br>
<br>

<h1>Current products / builds</h1>


<div class="clickyImages text-center">
    <div class="col-md-12"></div>
    <div class="row">
        <div class="col-md-3" style="padding:15px">
            <a href="/productPage"><img src="https://via.placeholder.com/250"></a>
            <div class="carousel-caption">
                <h1>Product 1</h1>
            </div>
        </div>
        <div class="col-md-3" style="padding:15px">
            <a href="/productPage"><img src="https://via.placeholder.com/250"></a>
            <div class="carousel-caption">
                <h1>Product 2</h1>
            </div>
        </div>
        <div class="col-md-3" style="padding:15px">
            <a href="/productPage"><img src="https://via.placeholder.com/250"></a>
            <div class="carousel-caption">
                <h1>Product 3</h1>
            </div>
        </div>
        <div class="col-md-3" style="padding:15px">
            <a href="/productPage"><img src="https://via.placeholder.com/250"></a>
            <div class="carousel-caption">
                <h1>Product 4</h1>
            </div>
        </div>
    </div>
</div>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>